# Python
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# Environment
.env
.venv/
env/
venv/
ENV/
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
coverage.xml
*.cover
.cache

# mypy
.mypy_cache/
.dmypy.json

# Unit test / pytest
.pytest_cache/
test-results.xml

# pip-tools
*.txt~

# Build
build/
dist/
*.egg-info/

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.pid

# Node (if you're using npm/yarn for frontend)
node_modules/
